

*{
    margin: 0;
    padding: 0;
}

.app{ 
    
    min-height:100vh;
    min-width: auto;
    background-image: url("../images/bgimg.jpg");
    object-fit: contain;
    background-size: 100% 100%;
    
    
}



